{{!< default}}

{{#post}}
<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10-desktop is-offset-1-desktop">
          <h1 class="title is-2 is-spaced">{{title}}</h1>
          <section class="post-full-meta">
            <time class="post-full-meta-date" datetime="{{date format=" YYYY-MM-DD "}}">{{date format="D MMMM YYYY"}}</time>
            {{#primary_tag}}
            <span class="date-divider">/</span>
            <a href="{{url}}">{{name}}</a>
            {{/primary_tag}}
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10-desktop is-offset-1-desktop">
        <div class="content">
          {{content}}
        </div>
        <div class="section tags">
          {{#if tags}}
            <h3 class="title is-3 is-spaced">Tags</h3>
            <ul>
              {{#foreach tags}}
                <li class="tag is-primary is-medium">
                  <a href="{{url}}" title="{{name}}" >{{name}}</a>
                </li>
              {{/foreach}}
            </ul>
          {{/if}}
        </div>
      </div>
    </div>
    <aside class="columns">
      {{#if primary_tag}}
        {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="7" as |related_posts|}} 
          {{#if related_posts}}
            <article class="card column is-3">
              <div class="card-content">
                <h2 class="title is-3">Related posts</h2>
                {{#foreach related_posts}}
                <div class="media">
                  <ul class="media-content">
                    <li><a href="{{url}}">{{title}}</a></li>
                  </ul>
                </div>
                {{/foreach}}
              </div>
            </article>
            {{/if}}
          {{/get}}
        {{/if}}

        {{#next_post}}
          {{> "post-article"}}
        {{/next_post}}
        
        {{#prev_post}}
          {{> "post-article"}}  
        {{/prev_post}}
    </aside>
  </div>
</main>
{{/post}}
